<div class="content">
    <div class="right-text-styling w-50 mx-auto">
        <form ngForm style="text-align: center;" [noValidate]="false">
            <h3 style="font-weight:bold;font-size: 20px;text-shadow: 3px 3px 3px silver;">CHANGING THE PASSWORD</h3>
            <div class="form-group">
                <label for="email">Email of Associated Account</label>
                <input style='text-align: center;' type="text" class="form-control" id="email" [(ngModel)]="email"
                    name="email" required="true" />
            </div>
            <div class="container"> <br />
                <button type="submit" class="btn btn-outline-success" (click)=" requestAChange()">Request a Change</button><br>
               <a [routerLink]="['/login']">Go Back</a><br>
            </div>
        </form>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
