<div style="text-align: center;">
    <img src="assets/images/incedo-logo.png">
  <h3>Welcome to the Incedo Home Page (by Vladyslav Ivchenko). <br>
    The data will display as the progress climbs up.
  </h3>
</div>

  <!-- <div class="nav-bar">
    <a [routerLink]="['/home']">Home</a> 
    <a [routerLink]="['/customer']">Customer Details</a> 
    <a [routerLink]="['/customerform']">Customer Form</a> 
    <a [routerLink]="['/user']">User Details</a> 
    <a [routerLink]="['/analysis']">Data Analysis</a> 
    <a [routerLink]="['/contactus']">Contact Us</a>
    
  </div> -->