<div class="nav-bar">
    <a [routerLink]="['/dashboard/home']">Home</a> 
    <a [routerLink]="['/dashboard/customer']">Customer Details</a> 
    <a [routerLink]="['/dashboard/customerform']">Customer Form</a> 
    <a [routerLink]="['/dashboard/user']">User Details</a>
    <a [routerLink]="['/dashboard/order']">Order</a>  
    <a [routerLink]="['/dashboard/analysis']">Data Analysis</a> 
    <a [routerLink]="['/dashboard/contactus']">Contact Us</a>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  