<h1
    style="text-align: center; background-color: rgb(239, 239, 239); box-shadow: 4px 4px grey; text-shadow: 2px 2px 2px silver; width: 50%; margin: auto;border-radius: 20px;">
    Allowance Dashboard</h1>
<br>
<div style="text-align: center; margin: auto; width: 30%;">
        <h4>Select specific area of designation here</h4>
            <select class="form-select" style="text-align: center;" #a
        (change)="getAreaSpecificData(a.value)">
        <option selected>All</option>
        <option *ngFor="let area of designationArea" [ngValue]="area" value="{{area.id}}">{{area.areaname}}</option>
    </select>
    <br>
    <h4>Specify the range of project span</h4>
    <input id="date" class="form-control" style="text-align: center;" type="text" name="daterange" value="09/01/2022 - 09/30/2022"/>
    <br>
    <button  type="submit" class="btn btn-outline-secondary" (click)="getTimeSpecificData()">Reflect dated projects</button>
    <br><br>

</div>


<table class="table table-striped table-bordered table-hover"
    style="text-align:center; vertical-align: middle;table-layout: fixed;">
    <thead style="text-align:center; vertical-align: middle;">
        <tr>
            <th (click)="sortByProjectName()" scope="col">Name</th>
            <th (click)="sortBySapId()" scope="col">SAP ID</th>
            <th scope="col">Project Hours</th>
            <th scope="col">Holiday/Leave Hours</th>
            <th scope="col">Afternoon Shift Days</th>
            <th scope="col">Night Shift Days</th>
            <th scope="col">Days Eligible for TA</th>
            <th scope="col">Transportation Allowance</th>
            <th scope="col">Total Allowance</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projectsList; let i = index">
            <td>{{project.name}}</td>
            <td style="font-weight: bold;">{{project.sapid}}</td>
            <td>{{project.projecthours}}</td>
            <td>{{project.leaveholidayhours}}</td>
            <td><input style="text-align: center;" class="form-control" value="{{project.noonshifts}}" readonly></td>
            <td><input style="text-align: center;" class="form-control" value="{{project.nightshifts}}"></td>
            <td>{{project.taeligibledays | daypipe}}</td>
            <td>{{project.transportationallowance | currency:'USD'}}</td>
            <td>{{project.totalallowance | currency:'USD'}}</td>
        </tr>
    </tbody>
</table>
<div style="text-align: center;">
    <button  type="button" id="download-button" class="btn btn-outline-secondary" (click)="approveAndDownload()">Approve & Download</button>
</div>
<br><br><br>